# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
#*       @cncastillo

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches Julia files, only these owners
# will be requested to review.
# SRC
src/*.jl    @cncastillo
KomaNYUBase/src/*.jl    @cncastillo
KomaNYUCore/src/*.jl    @cncastillo
KomaNYUPlots/src/*.jl    @cncastillo
KomaNYUFiles/src/*.jl    @cncastillo
# TEST
test/*.jl    @cncastillo
KomaNYUBase/test/*.jl    @cncastillo
KomaNYUCore/test/*.jl    @cncastillo
KomaNYUPlots/test/*.jl    @cncastillo
KomaNYUFiles/test/*.jl    @cncastillo
# EXT
ext/*.jl    @cncastillo
KomaNYUBase/ext/*.jl    @cncastillo
KomaNYUCore/ext/*.jl    @cncastillo
KomaNYUPlots/ext/*.jl    @cncastillo
KomaNYUFiles/ext/*.jl    @cncastillo

# You can also use email addresses if you prefer.
# docs/*  docs@example.com
